.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 12.6vw; */
  width: 242px;
  /* width: 19.6%; */
}

.right-arrow {
  transform: rotate(180deg);
  cursor: pointer;
}
.left-arrow {
  cursor: pointer;
}
.news-pagination {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.pagination-text {
  font-size: 17px;
  line-height: 20.29px;
  color: #7d7d7d;
}


.cursor-initial {
  cursor: initial;
}
@media only screen and (max-width: 800px) {
  .pagination {
    width: 172px;
  }
}