.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
  height: fit-content !important;
  border-radius: 12px;
}

.carousel-root {
  outline: none;
  /* margin-top: 28px; */
  /* width: 793px; */
}

.control-arrow {
  display: none !important;
}

.carousel .thumb {
  transition: border 0.15s ease-in;
  display: inline-block;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid #fff;
  padding: 2px;
  display: none !important;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  opacity: 1;
  background: linear-gradient(88.37deg, #5366a2 1.28%, #283c79 100%);
  filter: alpha(opacity=100);
}

.datark {
  background: linear-gradient(88.37deg, #5366a2 1.28%, #283c79 100%);
  opacity: 0.2;
  border-radius: 12px;
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 90%);
  color: #fff;
  display: none;
}

.carousel .slide img {
  vertical-align: top;
  border: 0;
  cursor: default;
}

.carousel img {
  /* width: 64vw !important;
  height: 32.3vw !important; */
  display: inline-block;
  pointer-events: auto !important;
  vertical-align: top;
  border: 0;
  object-fit: cover !important;
}
