.all-pages-list:lang(am) {
  font-family: Montserratarm-Semi-Bold;
  font-size: 4vw;
}
.all-pages-list:lang(en) {
  font-family: Helvetica-Neue-Bold;
}
.all-pages-list:lang(ru) {
  font-family: "Helvetica-Neue-Bold", Arial, sans-serif;
}

.join-btn:lang(am) {
  font-family: Montserratarm-Semi-Bold;
  font-size: 2.5vw !important;
}
.join-btn:lang(en) {
  font-family: Helvetica-Neue-Bold;
}
.join-btn:lang(ru) {
  font-family: "Helvetica-Neue-Bold", Arial, sans-serif;
  font-size: 3vw;
}
.contact-li {
  margin-top: 4vh;
}
.menu-lengauge {
  display: none;
}
.sidebar {
  height: auto;
  animation-name: sidebar-animation-open;
  width: 100%;
  height: 100%;
  /* animation-timing-function: cubic-bezier(0.11, 0.83, 0.7, 0.45); */
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  z-index: 2;
  padding: 106.86px 229px 120px 320px;
  position: fixed;
  top: 0;
}

@keyframes sidebar-animation-open {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

.sideBar {
  display: none;
}

.sidebar-closed {
  right: 100%;
  animation-name: sidebar-animation-closed;
  animation-timing-function: cubic-bezier(0.11, 0.83, 0.7, 0.45);
  animation-duration: 300ms;
  z-index: 4;
  padding: 106.86px 229px 120px 320px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

@keyframes sidebar-animation-closed {
  0% {
    right: 20%;
  }
  25% {
    right: 40%;
  }
  50% {
    right: 60%;
  }
  75% {
    right: 80%;
  }
  100% {
    right: 100%;
  }
}

.activeclass {
}

.page-name-li {
  padding-bottom: 20px;
}

.all-pages-list {
  font-size: 50px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
}

.page-name-list-and-join {
  margin-top: 95px;
}

.close-sideBar {
  height: 24.8px;
  width: 24px;
}

.sideBar-opened .header-and-footer-container {
  width: 100%;
  position: fixed;
}

.join-font-size {
  font-size: 4.79vw;
}

.contacts-in-sidebar {
  margin-top: 60px;
}

.join-and-navlink {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.join-btn {
  font-size: 92px;
  line-height: 112px;
  color: #4f35ff;
  font-weight: 700;
  /* font-family: Helvetica-Neue-Bold; */
  cursor: pointer;
}

.join-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 202px; */
}
.menu-lengauge {
  width: fit-content;
}
@media only screen and (max-width: 5000px) {
  .sideBar-opened .size-and-height {
    font-size: 3vw;
    line-height: 3vw;
  }
  .size-and-height {
    font-size: 3vw;
    line-height: 3vw;
  }
  .sidebar-closed {
    padding: 6.5% 10.44% 6.25% 14.6%;
  }

  .sidebar {
    padding: 6.5% 10.44% 6.25% 14.6%;
  }
  .contact-li {
    padding-top: 60px;
  }

  .join-font-size {
    font-size: 3vw;
    line-height: 3vw;
    padding-bottom: 23%;
  }
}

@media only screen and (max-width: 1366px) {
  .sideBar-opened .size-and-height {
    font-size: 68px;
    line-height: 83px;
  }
  .sidebar-closed .size-and-height {
    font-size: 68px;
    line-height: 83px;
  }
  .sideBar-closed {
    padding: 4.5% 10.44% 4.25% 14.6%;
  }

  .sidebar {
    padding: 4.5% 10.44% 4.25% 14.6%;
  }

  .contact-li {
    padding-top: 176px;
  }

  .join-font-size {
    font-size: 92px;
    line-height: 112px;
  }
  .join-block:lang(ru) {
    min-height: 202px;
  }
}

@media only screen and (max-height: 1079px) {
  .sideBar-opened .page-name-list-and-join {
    margin-top: 120.24px;
  }

  .sideBar-closed .page-name-list-and-join {
    margin-top: 120.24px;
  }

  .close-sideBar {
    height: 24.8px;
    width: 24.8px;
  }

  .contact-li {
    padding-top: 90px;
  }
}

@media only screen and (max-height: 980px) {
  .sideBar-opened .size-and-height {
    /* font-size: 86px;
    line-height: 95.33px; */
    font-size: 3vw;
    line-height: 3vw !important;
  }

  .sideBar-closed .size-and-height {
    font-size: 3vw;
    line-height: 3vw !important;
  }

  .sideBar-opened .page-name-list-and-join {
    margin-top: 150px;
  }

  .sideBar-closed .page-name-list-and-join {
    margin-top: 150px;
  }

  .close-sideBar {
    height: 24.8px;
    width: 24.8px;
  }

  .sidebar {
    padding: 6.5% 10.44% 6.25% 14.6%;
  }
  .sideBar-closed {
    padding: 6.5% 10.44% 6.25% 14.6%;
  }
  .contact-li {
    padding-top: 90px;
  }
}

@media only screen and (max-height: 920px) {
  .sideBar-opened .size-and-height {
    font-size: 4vw;
    line-height: 4vw;
  }

  .sideBar-closed .size-and-height {
    font-size: 102px;
    line-height: 102.33px;
  }

  .close-sideBar {
    height: 24.8px;
    width: 24.8px;
  }

  .sidebar {
    padding: 6.5% 10.44% 5.25% 14.6%;
  }
  .sideBar-closed {
    padding: 5.5% 10.44% 5.25% 14.6%;
  }

  .sideBar-opened .page-name-list-and-join {
    margin-top: 95px;
  }

  .sideBar-closed .page-name-list-and-join {
    margin-top: 95px !important;
  }

  .contact-li {
    padding-top: 100px;
  }
}

@media only screen and (max-height: 860px) {
  .sideBar-opened .size-and-height {
    font-size: 98px;
    line-height: 98.33px;
  }

  .sideBar-closed .size-and-height {
    font-size: 98px;
    line-height: 98.33px;
  }

  .close-sideBar {
    height: 22.8px;
    width: 22.8px;
  }

  .sidebar {
    padding: 4.5% 10.44% 4.25% 14.6%;
  }
  .sideBar-closed {
    padding: 4.5% 10.44% 4.25% 14.6%;
  }

  .sideBar-opened .page-name-list-and-join {
    margin-top: 85px;
  }

  .sideBar-closed .page-name-list-and-join {
    margin-top: 85px;
  }
}

@media only screen and (max-height: 800px) {
  .sideBar-opened .size-and-height {
    font-size: 77px;
    line-height: 77.33px;
  }

  .sidebar-closed .size-and-height {
    font-size: 77px;
    line-height: 77.33px;
  }

  .close-sideBar {
    height: 20.8px;
    width: 20.8px;
  }

  .sidebar {
    padding: 4.5% 10.44% 4.25% 14.6%;
  }
  .sidebar-closed {
    padding: 4.5% 10.44% 4.25% 14.6%;
  }

  .sideBar-opened .page-name-list-and-join {
    margin-top: 80px;
  }

  .sidebar-closed .page-name-list-and-join {
    margin-top: 80px;
  }
}

@media only screen and (max-height: 750px) {
  .sideBar-opened .size-and-height {
    font-size: 66px;
    line-height: 60.33px;
  }
  .sidebar-closed .size-and-height {
    font-size: 66px;
    line-height: 60.33px;
  }

  .sideBar-opened .page-name-list-and-join {
    margin-top: 60px;
  }

  .sidebar-closed .page-name-list-and-join {
    margin-top: 60px;
  }

  .close-sideBar {
    height: 17.8px;
    width: 17.8px;
  }

  .sidebar {
    padding: 3.5% 10.44% 3.25% 14.6%;
  }

  .sidebar-closed {
    padding: 3.5% 10.44% 3.25% 14.6%;
  }
  .contact-li {
    padding-top: 40px;
  }
}

@media only screen and (max-height: 650px) {
  .sideBar-opened .size-and-height {
    font-size: 57px;
    line-height: 56.33px;
  }

  .sidebar-closed .size-and-height {
    font-size: 57px;
    line-height: 56.33px;
  }

  .sideBar-opened .page-name-list-and-join {
    margin-top: 70px;
  }

  .sidebar-closed .page-name-list-and-join {
    margin-top: 70px;
  }

  .close-sideBar {
    height: 17.8px;
    width: 17.8px;
  }

  .sidebar {
    padding: 3.5% 10.44% 3.25% 14.6%;
  }

  .sidebar-closed {
    padding: 3.5% 10.44% 3.25% 14.6%;
  }

  .contact-li {
    padding-top: 50px;
  }
  .join-font-size {
    font-size: 82px;
    line-height: 82px;
  }
  .join-block {
    margin-top: 0 !important;
    bottom: 5% !important;
  }

  .menu-lengauge {
    bottom: -16%;
  }
}

@media only screen and (max-height: 585px) {
  .sideBar-opened .size-and-height {
    font-size: 3.5vw;
    line-height: 5vw;
  }

  .sidebar-closed .size-and-height {
    font-size: 48px;
    line-height: 48.33px;
  }

  .sideBar-opened .page-name-list-and-join {
    margin-top: 55px;
  }
  .sidebar-closed .page-name-list-and-join {
    margin-top: 55px;
  }

  .close-sideBar {
    height: 17.8px;
    width: 17.8px;
  }

  .sidebar {
    padding: 3.5% 25.44% 4.25% 14.6%;
  }
  .sidebar-closed {
    padding: 3.5% 25.44% 4.25% 14.6%;
  }
  .contact-li {
    padding-top: 62px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 1023px) {
  .sidebar {
    padding: 5.5vh 5.6vh 6.24vh 5.6vh;
  }

  .sidebar-closed {
    padding: 5.5vh 4.6vh 6.24vh 4.6vh;
  }

  .close-sideBar {
    height: 3vw;
    width: 3vw;
  }
  .sideBar-opened .size-and-height {
    font-size: 4vh;
    line-height: 4.6vh !important;
  }

  .sidebar-closed .size-and-height {
    font-size: 40px;
    line-height: 48px;
  }

  .page-name-li {
    padding-bottom: 1vh;
  }

  .contact-li {
    padding-top: 0;
  }

  .sideBar-opened .page-name-list-and-join {
    margin-top: 6vh;
  }
  .sidebar-closed .page-name-list-and-join {
    margin-top: 6vh;
  }

  .join-and-navlink {
    display: block;
  }

  .sideBar-opened .join-font-size {
    font-size: 4vh;
    line-height: 8.6vh;
    padding-bottom: 0 !important;
  }
  .sidebar-closed .join-font-size {
    font-size: 4vh;
    line-height: 8.6vh;
    padding-bottom: 0 !important;
  }

  .join-btn:lang(am) {
    font-size: 2vw !important;
  }

  .join-block {
    position: relative;
  }

  .menu-lengauge {
    display: block;
    position: absolute;
    bottom: -50%;
  }
  .menu-lang-text {
    font-size: 2vw !important;
  }
  .close-sideBar {
    height: 2vh;
    width: 2vh;
  }
  .sidebar-language-container,
  .sidebar-ul {
    background: #141414;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 414px) {
  .sidebar {
    padding: 10.4% 8% 3% 9.6%;
  }

  .sidebar-closed {
    padding: 14.4% 8% 3% 9.6%;
  }

  .sideBar-opened .size-and-height {
    font-size: 4vw;
    line-height: 4vw !important;
  }
  .sidebar-closed .size-and-height {
    font-size: 4vw;
    line-height: 4vw !important;
  }

  .page-name-li {
    padding-bottom: 7%;
  }

  .contact-li {
    padding-top: 0;
  }

  .sideBar-opened .page-name-list-and-join {
    /* margin-top: 45.24px; */
  }
  .sidebar-closed .page-name-list-and-join {
    margin-top: 45.24px;
  }

  .join-and-navlink {
    display: block;
  }

  .sideBar-opened .join-font-size {
    font-size: 5vw;
    line-height: 48px;
  }
  .sidebar-closed .join-font-size {
    font-size: 5vw;
    line-height: 48px;
  }

  .join-btn:lang(am) {
    font-size: 5vw !important;
  }

  .join-block {
    min-height: 109.86px;
    /* margin-top: 0; */
  }

  .menu-lengauge {
    display: block;
    position: absolute;
    /* left: 4.6%; */
    left: -9px;
  }
}

/* @media screen and (min-width: 1921px) {

.size-and-height {
  font-size: 2.5vw !important;
  line-height: 3vw !important;
}

.first-contact, .second-contact-item {
  width: 15vw !important;
  line-height: 2vw !important;
  font-size: 1vw !important;
}
} */
@media only screen and (min-width: 1024px) and (max-width: 1919px) {
  .sideBar-opened .size-and-height:lang(am) {
    font-size: 2.5vw;
    line-height: 3vw;
  }
  .sideBar-closed .size-and-height:lang(am) {
    font-size: 2.5vw;
    line-height: 3vw;
  }

  .sidebar {
    /* padding: 14.4% 8% 3% 9.6%; */
    padding: 9.5vh 9.37vh 6.24vh 16.6vh;
  }

  .sidebar-closed {
    /* padding: 14.4% 8% 3% 9.6%; */
    padding: 9.5vh 9.37vh 6.24vh 16.6vh;
  }

  .sideBar-opened .size-and-height {
    font-size: 5vh;
    line-height: 5.6vh;
  }

  .sidebar-closed .size-and-height {
    font-size: 5vh;
    line-height: 5.6vh;
  }

  .page-name-li {
    padding-bottom: 4vh;
  }

  .contact-li {
    padding-top: 0;
  }

  .sideBar-opened .page-name-list-and-join {
    /* margin-top: 15%; */
    margin-top: 20vh;
  }
  .sidebar-closed .page-name-list-and-join {
    /* margin-top: 45.24px; */
    margin-top: 6vh;
  }

  .sideBar-opened .join-font-size {
    font-size: 4vh;
    line-height: 13.6vh;
    padding-bottom: 0 !important;
  }
  .sidebar-closed .join-font-size {
    font-size: 4vh;
    line-height: 13.6vh;
    padding-bottom: 0 !important;
  }

  .join-block {
    /* min-height: 109.86px; */
    min-height: 19vh;
    /* margin-top: 15%; */
    position: relative;
  }

  .close-sideBar {
    height: 1.5vw;
    width: 1.5vw;
  }
}
